body, html {
    height: 100%;
    background-image: url("https://i.pinimg.com/originals/c0/27/f0/c027f0635e954b7fa6682fa0d5abc395.jpg");
}

.edit-form{
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    justify-content: space-around;
    border: 1px solid #ffe81f;
    border-radius: 25px;
    padding: 10px;
    margin: 5px;
}

input, select{
    padding: 10px;
    font-size: 16px;
    border: 3px solid #ffe81f;
    border-radius: 8px;
    margin: 5px;
}

  button{
    background-color: #54ad7a;
    color: black;
    font-style: italic;
    border-top: 2px solid #ffe81f;
    border-bottom: 2px solid #ffe81f;
    transition: all .25s;
  }
  
  button:hover{
    letter-spacing: 5px;
  }

.bountyContainer {
	display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.bounty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: 30px;
    border-radius: 25px;
    border: 1px solid #ffe81f;
    color: #54ad7a;
    background-color: #2e4558c5;
    box-shadow: 
    #ffe91fb0 5px 5px, 
    #ffe91f8c 10px 10px, 
    #ffe91f50 15px 15px, 
    #ffe91f1e 20px 20px, 
    #ffe91f09 25px 25px;
}
